In [1]:
import requests,json, math
import mysql.connector
import gmaps
import gmaps.datasets

In [2]:
api_key_fer="AIzaSyBMeqEzlSjGpWSkcRTAB9qJEGXQe2gg5zM"
gmaps.configure(api_key=api_key_fer) # Your Google API key

In [3]:
def conectar():
    print("Using mysql.connector…")

    hostname = 'localhost'
    username = 'fernando'
    password = 'Fernando.123'
    database = 'Casas'

    myConnection = mysql.connector.connect(host=hostname,user=username,passwd=password,db=database)
    
    return myConnection

In [4]:
# Simple routine to run a query on a database and print the results:
def doQuery(query) :
    cur = myConnection.cursor()
    cur.execute(query) #where price < 250000 and total_area > 173 and price/total_area > 1000 
    mapa = []
    precios_metro = []
    scales = []
    infos = []
    hovers = []
    for latitude, longitude, total_area, precio_metro, precio, permalink in cur.fetchall():        
        
        #letitud y longitud --> lugar en mapa
        row = [latitude, longitude]
        mapa.append(row)
        
        #precio por metro --> color
        precios_metro.append(precio_metro)
        
        #tamaño del punto en el mapa
        if total_area <100:
            scales.append(1)    
        elif total_area <150:
            scales.append(2)    
        elif total_area <200:
            scales.append(3)    
        elif total_area <250:
            scales.append(4)    
        elif total_area <300:
            scales.append(5)    
        elif total_area <350:
            scales.append(6)    
        elif total_area <400:
            scales.append(7)    
        elif total_area <450:
            scales.append(8)    
        elif total_area <500:
            scales.append(9)    
        else: 
            scales.append(10)    
        
        
        #info
        info =  """
                <dl>
                <dt>Precio</dt><dd>"""+str(precio)+"""</dd>
                <dt>Area</dt><dd>"""+str(total_area)+"""</dd>
                <dt>metro cuadrado</dt><dd>"""+str(precio_metro)+"""</dd>
                <dt><a href=\""""+permalink+"""\" target=\"_blank\" >Link</a></dd>
                </dl>
                """
        infos.append(info)
        
        hover = "Area: "+str(total_area)+" - Precio: $"+str(precio)
        hovers.append(hover)
        
        
    return mapa, precios_metro, scales, infos, hovers

In [49]:
myConnection = conectar()
mapa,precios_metro, scales, infos, hovers = doQuery("select latitude, longitude, total_area, price/total_area, price, permalink from casas where price < 180000 and total_area < 140 and total_area > 120 ")
print(mapa)
print(precios_metro)
print(scales)
print(infos)
print(hovers)
myConnection.close()

Using mysql.connector…
[[-34.509126, -58.5138599], [-34.5115264, -58.5071297], [-34.5154557, -58.5156601], [-34.4998232, -58.5018787], [-34.5402328, -58.505323], [-34.5115264, -58.5071297]]
[1306.5693430656934, 1007.4626865671642, 955.5555555555555, 1314.0495867768595, 1325.7575757575758, 1007.4626865671642]
[2, 2, 2, 2, 2, 2]
['\n                <dl>\n                <dt>Precio</dt><dd>179000</dd>\n                <dt>Area</dt><dd>137.0</dd>\n                <dt><a href="https://casa.mercadolibre.com.ar/MLA-844615059-casas-venta-olivos-_JM" target="_blank" >Link</a></dd>\n                </dl>\n                ', '\n                <dl>\n                <dt>Precio</dt><dd>135000</dd>\n                <dt>Area</dt><dd>134.0</dd>\n                <dt><a href="https://casa.mercadolibre.com.ar/MLA-822758143-oportunidadchalet-2-amb-y-12-a-reciclar-cfondo-en-olivos-_JM" target="_blank" >Link</a></dd>\n                </dl>\n                ', '\n                <dl>\n                <dt>Precio</dt><dd>129000</dd>\n                <dt>Area</dt><dd>135.0</dd>\n                <dt><a href="https://casa.mercadolibre.com.ar/MLA-765514034-lindo-duplex-de-4-amb-con-patio-y-terraza-en-olivos-_JM" target="_blank" >Link</a></dd>\n                </dl>\n                ', '\n                <dl>\n                <dt>Precio</dt><dd>159000</dd>\n                <dt>Area</dt><dd>121.0</dd>\n                <dt><a href="https://casa.mercadolibre.com.ar/MLA-842880284-casa-olivos-maipuuzal-_JM" target="_blank" >Link</a></dd>\n                </dl>\n                ', '\n                <dl>\n                <dt>Precio</dt><dd>175000</dd>\n                <dt>Area</dt><dd>132.0</dd>\n                <dt><a href="https://casa.mercadolibre.com.ar/MLA-832987381-casa-en-1-planta-con-cochera-jardin-y-terraza-apto-credito-_JM" target="_blank" >Link</a></dd>\n                </dl>\n                ', '\n                <dl>\n                <dt>Precio</dt><dd>135000</dd>\n                <dt>Area</dt><dd>134.0</dd>\n                <dt><a href="https://terreno.mercadolibre.com.ar/MLA-822758260-oportunidad-muy-buen-lote-de-10-x-1336-en-olivos-_JM" target="_blank" >Link</a></dd>\n                </dl>\n                ']
['Area: 137.0 - Precio: $179000', 'Area: 134.0 - Precio: $135000', 'Area: 135.0 - Precio: $129000', 'Area: 121.0 - Precio: $159000', 'Area: 132.0 - Precio: $175000', 'Area: 134.0 - Precio: $135000']

In [2]:
# %gmaps inline
import gmaps
import gmaps.datasets
gmaps.configure(api_key=api_key_fer) # Your Google API key

# load a Numpy array of (latitude, longitude) pairs
locations = gmaps.datasets.load_dataset("taxi_rides")

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key=api_key_fer) # Your Google API key

df = gmaps.datasets.load_dataset_as_df('starbucks_kfc_uk')

starbucks_df = df[df['chain_name'] == 'starbucks']
starbucks_df = starbucks_df[['latitude', 'longitude']]

print(starbucks_df)


starbucks_layer = gmaps.symbol_layer(starbucks_df, fill_color="green", stroke_color="green", scale=2)

fig = gmaps.figure()
fig.add_layer(starbucks_layer)
fig

      latitude  longitude
0    57.143224  -2.111544
1    57.143568  -2.096921
2    57.132247  -2.123264
3    57.147790  -2.098023
4    50.842126  -0.251903
..         ...        ...
714  53.959675  -1.084199
715  53.958304  -1.093038
716  53.922162  -1.077482
717  53.988593  -1.045283
718  53.961130  -1.082780

[719 rows x 2 columns]

Figure(layout=FigureLayout(height='420px'))

In [11]:
import gmaps
import gmaps.datasets

gmaps.configure(api_key=api_key_fer) # Fill in with your API key

earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()

    latitude   longitude  magnitude
0  65.193300 -149.072500       1.70
1  38.791832 -122.780830       2.10
2  38.818001 -122.792168       0.48
3  33.601667 -116.727667       0.78
4  37.378334 -118.520836       3.64

In [12]:
type(earthquake_df)

pandas.core.frame.DataFrame

In [13]:
locations = earthquake_df[['latitude', 'longitude']]

weights = earthquake_df['magnitude']

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(mapa, weights=precios))
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
type(locations)

pandas.core.frame.DataFrame

In [6]:
myConnection = conectar()
mapa,precios = doQuery("select latitude, longitude, total_area, price/total_area from casas where price < 200000 and total_area < 120 and total_area > 100 ")
print(mapa)
print(precios)
myConnection.close()

Using mysql.connector…
[[-34.4998232, -58.5018787], [-34.5061071, -58.5094829], [-34.5077927, -58.5109517], [-34.5195946, -58.5181493], [-34.5191718, -58.5072481], [-34.5108573, -58.508714], [-34.5147927, -58.5165695], [-34.511556, -58.5021176], [-34.5193668, -58.5168009], [-34.5146223, -58.5088363], [-34.5147701, -58.5087726], [-34.5131002, -58.5072052], [-34.536222, -58.484482], [-34.5299158, -58.4911209], [-34.5375748, -58.4859428], [-34.5359685, -58.512564]]
[1445.3781512605042, 1454.5454545454545, 1533.9805825242718, 1324.7863247863247, 1436.3636363636363, 1756.7567567567567, 1521.7391304347825, 1615.3846153846155, 1414.1509433962265, 1733.3333333333333, 1615.3846153846155, 1695.6521739130435, 1741.0714285714287, 1454.5454545454545, 1379.3103448275863, 1666.6666666666667]

In [14]:
fig = gmaps.figure()
fig.add_layer(gmaps.symbol_layer(mapa))
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(mapa, weights=precios,max_intensity=1, point_radius=3)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
locations = gmaps.datasets.load_dataset_as_df('acled_africa')
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(locations)
heatmap_layer.max_intensity = 100
heatmap_layer.point_radius = 5
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
print(locations)

        latitude  longitude
0       36.46860    2.82890
1       36.67250    2.78940
2       36.51390    2.41780
3       36.75250    3.04197
4       36.59940    2.99440
...          ...        ...
117089 -20.15000   28.58000
117090 -21.05000   31.66670
117091 -17.93330   25.83330
117092 -17.83330   31.05000
117093 -18.01274   31.07555

[117094 rows x 2 columns]

In [64]:
nuclear_power_plants = [
    {'name': 'Atucha', 'location': (-34.0, -59.167), 'active_reactors': 1},
    {'name': 'Embalse', 'location': (-32.2333, -64.4333), 'active_reactors': 1},
    {'name': 'Armenia', 'location': (40.167, 44.133), 'active_reactors': 1},
    {'name': 'Br', 'location': (51.217, 5.083), 'active_reactors': 1},
    {'name': 'Doel', 'location': (51.333, 4.25), 'active_reactors': 4},
    {'name': 'Tihange', 'location': (50.517, 5.283), 'active_reactors': 3}
]

plant_locations = [plant['location'] for plant in nuclear_power_plants]
info_box_template = """
<dl>
<dt>Name</dt><dd>{name}</dd>
<dt>Number reactors</dt><dd>{active_reactors}</dd>
</dl>
"""
plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]

marker_layer = gmaps.marker_layer(plant_locations, info_box_content=plant_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
myConnection = conectar()
#grupo 1
mapa,precios_metro, scales, infos, hovers = doQuery(
    """
    select latitude, longitude, total_area, price/total_area, price, permalink 
    from casas where price/total_area <600 and price<350000 and total_area > 150 and total_area < 200
    """
    )
#grupo 2
mapa2,precios_metro2, scales2, infos2, hovers2 = doQuery(
    """
    select latitude, longitude, total_area, price/total_area, price, permalink 
    from casas where price/total_area >=600 and price/total_area <900 and price<350000 and total_area > 150 and total_area < 200
    """
    )
#grupo 3
mapa3,precios_metro3, scales3, infos3, hovers3 = doQuery(
    """
    select latitude, longitude, total_area, price/total_area, price, permalink 
    from casas where price/total_area >=900 and price/total_area <1200 and price<350000 and total_area > 150 and total_area < 200
    """
    )
#grupo 4
mapa4,precios_metro4, scales4, infos4, hovers4 = doQuery(
    """
    select latitude, longitude, total_area, price/total_area, price, permalink 
    from casas where price/total_area >=1200 and price/total_area <1500 and price<350000 and total_area > 150 and total_area < 200
    """
    )
#grupo 5
mapa5,precios_metro5, scales5, infos5, hovers5 = doQuery(
    """
    select latitude, longitude, total_area, price/total_area, price, permalink 
    from casas where price/total_area >=1500 and price/total_area <2500 and price<350000 and total_area > 150 and total_area < 200
    """
    )
#grupo 6
mapa6,precios_metro6, scales6, infos6, hovers6 = doQuery(
    """
    select latitude, longitude, total_area, price/total_area, price, permalink 
    from casas where price/total_area >=2500  and price<350000 and total_area > 150 and total_area < 200
    """
    )


myConnection.close()

Using mysql.connector…

In [10]:
symbols1 = gmaps.symbol_layer(mapa, fill_color='red', stroke_color='red', scale=scales, info_box_content=infos, hover_text =hovers)
symbols2 = gmaps.symbol_layer(mapa2, fill_color='green', stroke_color='green', scale=scales2, info_box_content=infos2, hover_text =hovers2)
symbols3 = gmaps.symbol_layer(mapa3, fill_color='blue', stroke_color='blue', scale=scales3, info_box_content=infos3, hover_text =hovers3)
symbols4 = gmaps.symbol_layer(mapa4, fill_color='purple', stroke_color='purple', scale=scales4, info_box_content=infos4, hover_text =hovers4)
symbols5 = gmaps.symbol_layer(mapa5, fill_color='yellow', stroke_color='yellow', scale=scales5, info_box_content=infos5, hover_text =hovers5)
symbols6 = gmaps.symbol_layer(mapa6, fill_color='black', stroke_color='black', scale=scales6, info_box_content=infos6, hover_text =hovers6)

fig = gmaps.figure()

fig.add_layer(symbols1)
fig.add_layer(symbols2)
fig.add_layer(symbols3)
fig.add_layer(symbols4)
fig.add_layer(symbols5)
fig.add_layer(symbols6)


fig

Figure(layout=FigureLayout(height='420px'))